<div
  id='author-selector-container'
  class='flex flex-col group relative mt-2'
  name='author'
>
  <div
    id='author-selector'
    class='flex flex-row flex-wrap items-center border border-gray-300 rounded-md py-2 px-3 focus-within:outline-none focus-within:ring-2 focus-within:ring-blue-500 focus-within:border-transparent'
  >
    {{#each selectedAuthors}}
      <span
        key='{{id}}'
        class='selected-author-item rounded-lg border border-gray-300 px-2.5 py-1 mr-2'
      >
        <input type='hidden' name='id' value='{{id}}' />
        <input type='hidden' name='name' value='{{name}}' />
        {{name}}
        <button
          class='remove-author'
          class='cursor-pointer'
          hx-on:click="removeAuthor('{{id}}')"
        >×</button>
      </span>
    {{/each}}

    <input
      class='search-input border-gray-300 peer rounded-md outline-none'
      type='text'
      id='author-search'
      name='q'
      placeholder='Search authors...'
      hx-get='/authors/search'
      hx-trigger='keyup changed delay:200ms'
      hx-target='#search-results'
      hx-vals='js:{"excludeIds": getAuthorIds() }'
      hx-params='q, excludeIds'
      hx-swap='innerHTML'
    />
  </div>

  <div
    id='search-results'
    class='search-results hidden group-focus-within:block'
  >
  {{>author_list}}
  </div>
</div>
