<ul class='author-list'>
  {{#if (eq authors.length 0)}}
    <li key="new" class="h-11 mt-2 flex justify-center">
      <button
        class="cursor-pointer py-2 px-3 text-gray-600"
        hx-get="/authors/creation-form"
        hx-target="#author-selector-container"
        hx-include="input[name='id'], input[name='name']"
        hx-swap="outerHTML"
        hx-params='id, name, q'
        hx-vals='{ "q": "{{ query }}" }'
      >
        Добавить автора <span class="text-blue-600">"{{ query }}"</span>
      </button>
    </li>
  {{else}}
    {{#each authors}}
      <li key="{{ id }}" class="h-11 author-item mt-2 border border-gray-300 rounded-md hover:outline-none hover:ring-2 hover:ring-blue-500 hover:border-transparent">
        <button
          class="cursor-pointer py-2 px-3 w-full text-left"
          hx-post="/authors/list"
          hx-ext="json-enc"
          hx-params="newAuthor, id, name"
          hx-include="input[name='id'], input[name='name']"
          hx-target="#author-selector-container"
          hx-swap="outerHTML"
          hx-vals='{ "newAuthor": { "id": "{{ id }}", "name": "{{ name }}" } }'
        >
          {{name}}
        </button>
      </li>
    {{/each}}
  {{/if}}
</ul>
