{{#unless books.length}}
  <div class="text-center text-gray-500 py-8">
    <h2 class="text-lg font-semibold mb-2">Ничего не найдено</h2>
    <p class="text-sm">Попробуйте изменить поисковый запрос или проверьте написание.</p>
  </div>
{{/unless}}

{{#each books}}
  <a href="/books/{{ id }}" class="py-2 px-4 rounded-lg border border-gray-200 hover:border-blue-300 hover:shadow-md transition-all flex flex-row justify-between" >
    <div class="flex flex-col">
      <h2 class="text-gray-900 font-semibold mb-1">{{title}}</h1>
      <h3 class="text-xs">{{ authors.[0].name }}</h3>
    </div>
    <div class="text-sm text-gray-500">{{ yearCreated }}</div>
  </a>
{{/each}}

{{#if pagination.isEnd}}
  {{#if partial}}
    <button id="load-more-button" hx-swap-oob="delete"></button>
  {{/if}}
{{else}}
  <button 
    id="load-more-button"
    hx-swap-oob="true"
    class="cursor-pointer" 
    hx-get="/books"
    hx-vals='{ "q": "{{ query }}", "page": {{ pagination.nextPage }}, "partial": true }'
    hx-params="q, partial, page"
    hx-target="previous"
    hx-swap="afterend"
  >Еще</button>
{{/if}}
